module.exports = {
  'db': {
    'erp-prod': {
      name: process.env.PROD_ERP_NAME,
      port: process.env.PROD_ERP_PORT,
      host: process.env.PROD_ERP_HOST,
      user: process.env.PROD_ERP_USER,
      pass: process.env.PROD_ERP_PASS
    },
    'erp-dev': {
      name: process.env.DEV_ERP_NAME,
      port: process.env.DEV_ERP_PORT,
      host: process.env.DEV_ERP_HOST,
      user: process.env.DEV_ERP_USER,
      pass: process.env.DEV_ERP_PASS
    }
  },
  'import': {
    'import1': {
      'source': 'erp-prod',
      'destination': 'erp-dev',
      'tables': [
        'rotas'
      ],
      'create-db': true,
      'encode': 'LATIN1',
      'rows-per-insert': 5000,
      'template': 'template0',
      'lc-collate': 'C',
      'lc-ctype': 'C'
    },
    'import2': {
      'source': 'erp-prod',
      'destination': 'erp-dev',
      'tables': [
        'clientes'
      ],
      'create-db': false,
      'encode': 'LATIN1',
      'rows-per-insert': 5000
    }
  }
}